{% extends 'base/include.html' %}
{% block body %}
    <section class="bde-section-264-100 bde-section">
        <div class="section-container">
            <div class="bde-div-264-101 bde-div">

                <h3 class="bde-heading-264-102 bde-heading">
                    Sog‘lom ovqatlanish retseptlari va ilhomlar bazasi
                </h3>
                <div class="bde-post-loop-264-106 bde-post-loop">
                    <div class="bde-isotope-filter-bar">
                        <div class="bde-tabs">
                            <select aria-label="Content tabs" class="bde-tabs__select js-tab-select">
                                <option value="all" data-value="all">Barchasi</option>
                                <option value="tab-isotope-1" data-value="2">
                                    Nonushta
                                </option>
                                <option value="tab-isotope-2" data-value="3">
                                    Asosiy Ovqat
                                </option>
                            </select>
                            <div class="bde-tabs__tabslist-container bde-tabs__tabslist-container--dropdown is-horizontal js-tabs-container">
                                <div class="bde-tabs__tabslist bde-tabs__tabslist--pills js-tablist" role="tablist"
                                     aria-label="Content tabs" aria-orientation="horizontal" data-tabs-id="isotope">
                                    <button role="tab" aria-selected="false" class="bde-tabs__tab js-tab is-active"
                                            aria-controls="tab-panel-isotope-all" id="tab-isotope-all" data-value="all">
                                        <span class="bde-tabs__tab-title">Barchasi</span>
                                    </button>

                                    <button role="tab" aria-selected="false" class="bde-tabs__tab js-tab"
                                            aria-controls="tab-panel-isotope-1" id="tab-isotope-1" data-value="2">
                                        <span class="bde-tabs__tab-title">Nonushta</span>
                                    </button>
                                    <button role="tab" aria-selected="false" class="bde-tabs__tab js-tab"
                                            aria-controls="tab-panel-isotope-2" id="tab-isotope-2" data-value="3">
                                        <span class="bde-tabs__tab-title">Asosiy Ovqat</span>
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="bde-loop bde-loop-grid ee-posts ee-posts-grid bde-loop-isotope ee-posts-isotope"
                         style="position: relative; height: 843.594px;">
                        <article class="bde-loop-item ee-post" data-filters="2"
                                 style="position: absolute; left: 0%; top: 0px;">
                            <div class="bde-div-267-100-263-267-1 bde-div bde-div-267-100">


                                <img class="bde-image2-267-101-263-267-1 bde-image2 bde-image2-267-101"
                                     src="https://nutrinora.se/wp-content/uploads/2025/04/99ad3e6bfdbee2427a368a28d6df1d88.webp"
                                     loading="lazy"
                                     srcset="https://nutrinora.se/wp-content/uploads/2025/04/99ad3e6bfdbee2427a368a28d6df1d88.webp 1224w, https://nutrinora.se/wp-content/uploads/2025/04/99ad3e6bfdbee2427a368a28d6df1d88-300x215.webp 300w, https://nutrinora.se/wp-content/uploads/2025/04/99ad3e6bfdbee2427a368a28d6df1d88-1024x733.webp 1024w, https://nutrinora.se/wp-content/uploads/2025/04/99ad3e6bfdbee2427a368a28d6df1d88-768x550.webp 768w"
                                     sizes="(max-width: 1224px) 100vw, 1224px">
                                <div class="bde-div-267-102-263-267-1 bde-div bde-div-267-102">


                                    <a class="bde-container-link-267-106-263-267-1 bde-container-link bde-container-link-267-106 breakdance-link"
                                       href="https://nutrinora.se/retsept/enkel-lax-i-ugn/" target="_self"
                                       data-type="url">


                                        <h4 class="bde-heading-267-103-263-267-1 bde-heading bde-heading-267-103">
                                            Enkel lax i ugn
                                        </h4>

                                    </a>
                                    <div class="bde-div-267-104-263-267-1 bde-div bde-div-267-104">


                                        <div class="bde-icon-list-267-105-263-267-1 bde-icon-list bde-icon-list-267-105">
                                            <ul>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      50 daqiqa
      </span>
                                                    </div>

                                                </li>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M24 32c13.3 0 24 10.7 24 24V408c0 13.3 10.7 24 24 24H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-39.8 0-72-32.2-72-72V56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      O'rtacha
      </span>
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="bde-loop-item ee-post" data-filters="3"
                                 style="position: absolute; left: 51.3643%; top: 0px;">
                            <div class="bde-div-267-100-261-267-1 bde-div bde-div-267-100">


                                <img class="bde-image2-267-101-261-267-1 bde-image2 bde-image2-267-101"
                                     src="https://nutrinora.se/wp-content/uploads/2025/04/95eaeced7f3eb9d31832869bec49677e.webp"
                                     loading="lazy"
                                     srcset="https://nutrinora.se/wp-content/uploads/2025/04/95eaeced7f3eb9d31832869bec49677e.webp 296w, https://nutrinora.se/wp-content/uploads/2025/04/95eaeced7f3eb9d31832869bec49677e-150x150.webp 150w"
                                     sizes="(max-width: 296px) 100vw, 296px">
                                <div class="bde-div-267-102-261-267-1 bde-div bde-div-267-102">


                                    <a class="bde-container-link-267-106-261-267-1 bde-container-link bde-container-link-267-106 breakdance-link"
                                       href="https://nutrinora.se/retsept/zarchava-bilan-baliqli-qayla/" target="_self"
                                       data-type="url">


                                        <h4 class="bde-heading-267-103-261-267-1 bde-heading bde-heading-267-103">
                                            Zarchava bilan baliqli qayla
                                        </h4>

                                    </a>
                                    <div class="bde-div-267-104-261-267-1 bde-div bde-div-267-104">


                                        <div class="bde-icon-list-267-105-261-267-1 bde-icon-list bde-icon-list-267-105">
                                            <ul>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      120 daqiqa
      </span>
                                                    </div>

                                                </li>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M24 32c13.3 0 24 10.7 24 24V408c0 13.3 10.7 24 24 24H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-39.8 0-72-32.2-72-72V56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      QIyin
      </span>
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="bde-loop-item ee-post" data-filters="3"
                                 style="position: absolute; left: 0%; top: 421.797px;">
                            <div class="bde-div-267-100-259-267-1 bde-div bde-div-267-100">


                                <img class="bde-image2-267-101-259-267-1 bde-image2 bde-image2-267-101"
                                     src="https://nutrinora.se/wp-content/uploads/2025/04/383ed14b84d0f4954c32815a1c64b6e1.webp"
                                     loading="lazy"
                                     srcset="https://nutrinora.se/wp-content/uploads/2025/04/383ed14b84d0f4954c32815a1c64b6e1.webp 296w, https://nutrinora.se/wp-content/uploads/2025/04/383ed14b84d0f4954c32815a1c64b6e1-150x150.webp 150w"
                                     sizes="(max-width: 296px) 100vw, 296px">
                                <div class="bde-div-267-102-259-267-1 bde-div bde-div-267-102">


                                    <a class="bde-container-link-267-106-259-267-1 bde-container-link bde-container-link-267-106 breakdance-link"
                                       href="https://nutrinora.se/retsept/limonli-losos-tandirda/" target="_self"
                                       data-type="url">


                                        <h4 class="bde-heading-267-103-259-267-1 bde-heading bde-heading-267-103">
                                            Limonli losos tandirda
                                        </h4>

                                    </a>
                                    <div class="bde-div-267-104-259-267-1 bde-div bde-div-267-104">


                                        <div class="bde-icon-list-267-105-259-267-1 bde-icon-list bde-icon-list-267-105">
                                            <ul>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      35 daqiqa
      </span>
                                                    </div>

                                                </li>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M24 32c13.3 0 24 10.7 24 24V408c0 13.3 10.7 24 24 24H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-39.8 0-72-32.2-72-72V56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      O'rtacha
      </span>
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="bde-loop-item ee-post" data-filters="2"
                                 style="position: absolute; left: 51.3643%; top: 421.797px;">
                            <div class="bde-div-267-100-255-267-1 bde-div bde-div-267-100">


                                <img class="bde-image2-267-101-255-267-1 bde-image2 bde-image2-267-101"
                                     src="https://nutrinora.se/wp-content/uploads/2025/04/bcc09689bf80e6aa2d89a4f41529dbf5.webp"
                                     loading="lazy"
                                     srcset="https://nutrinora.se/wp-content/uploads/2025/04/bcc09689bf80e6aa2d89a4f41529dbf5.webp 800w, https://nutrinora.se/wp-content/uploads/2025/04/bcc09689bf80e6aa2d89a4f41529dbf5-300x300.webp 300w, https://nutrinora.se/wp-content/uploads/2025/04/bcc09689bf80e6aa2d89a4f41529dbf5-150x150.webp 150w, https://nutrinora.se/wp-content/uploads/2025/04/bcc09689bf80e6aa2d89a4f41529dbf5-768x768.webp 768w"
                                     sizes="(max-width: 800px) 100vw, 800px">
                                <div class="bde-div-267-102-255-267-1 bde-div bde-div-267-102">


                                    <a class="bde-container-link-267-106-255-267-1 bde-container-link bde-container-link-267-106 breakdance-link"
                                       href="https://nutrinora.se/retsept/soglom-grechka-va-sabzavotli-nonushta/"
                                       target="_self" data-type="url">


                                        <h4 class="bde-heading-267-103-255-267-1 bde-heading bde-heading-267-103">
                                            Sog‘lom grechka va sabzavotli nonushta
                                        </h4>

                                    </a>
                                    <div class="bde-div-267-104-255-267-1 bde-div bde-div-267-104">
                                        <div class="bde-icon-list-267-105-255-267-1 bde-icon-list bde-icon-list-267-105">
                                            <ul>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      25 daqiqa
      </span>
                                                    </div>

                                                </li>


                                                <li>
                                                    <div class="bde-icon-list__item-wrapper">

      <span class="bde-icon-list__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. --><path
                d="M24 32c13.3 0 24 10.7 24 24V408c0 13.3 10.7 24 24 24H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-39.8 0-72-32.2-72-72V56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"></path></svg>
      </span>
                                                        <span class="bde-icon-list__text">
      Oson
      </span>
                                                    </div>

                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="bde-loop-item-gutter ee-post-gutter"></div>
                        <div class="bde-loop-item-sizer ee-post-sizer"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="bde-section-264-109 bde-section">
        <div class="section-container">
            <div class="bde-div-264-110 bde-div">


                <div class="bde-columns-264-111 bde-columns">
                    <div class="bde-column-264-112 bde-column">


                        <h3 class="bde-heading-264-113 bde-heading">
                            Sog‘lom hayot sari oddiy va aniq yo‘l
                        </h3>
                        <div class="bde-text-264-114 bde-text">
                            Nutrinora’da biz sizni murakkab rejalar bilan emas, balki real, tushunarli va foydali
                            bosqichlar orqali qo‘llab-quvvatlaymiz.
                        </div>
                        <div class="bde-button-264-115 bde-button">


                            <a class="breakdance-link button-atom button-atom--custom bde-button__button"
                               href="https://nutrinora.se/aloqa/" target="_self" data-type="url">


                                <span class="button-atom__text">Biz bilan bog‘laning</span>


                            </a>


                        </div>
                    </div>
                    <div class="bde-column-264-116 bde-column">


                        <div class="bde-frequently-asked-questions-264-117 bde-frequently-asked-questions">
                            <div class="bde-faq__item">
                                <h3 class="bde-faq__title-tag">
                                    <button id="bde-faq-117-button-1" aria-expanded="false"
                                            aria-controls="bde-faq-117-1" class="bde-faq__question js-faq-item">
                                        <span class="bde-faq__title">Kurslar qanday o‘tadi?</span>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                                            </svg>
                                        </div>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--active">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </h3>
                                <div role="region" aria-labelledby="bde-faq-117-button-1" id="bde-faq-117-1"
                                     class="bde-faq__answer">
                                    <div class="bde-faq__answer-content">
                                        <div class="breakdance-rich-text-styles"><p>We often send out our newsletter
                                            with news and great offers. We will never disclose your data to third
                                            parties and you can unsubscribe from the newsletter at any time.</p></div>

                                    </div>
                                </div>
                            </div>
                            <div class="bde-faq__item">
                                <h3 class="bde-faq__title-tag">
                                    <button id="bde-faq-117-button-2" aria-expanded="false"
                                            aria-controls="bde-faq-117-2" class="bde-faq__question js-faq-item">
                                        <span class="bde-faq__title">Shaxsiy maslahatni qanday olishim mumkin?</span>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                                            </svg>
                                        </div>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--active">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </h3>
                                <div role="region" aria-labelledby="bde-faq-117-button-2" id="bde-faq-117-2"
                                     class="bde-faq__answer">
                                    <div class="bde-faq__answer-content">
                                        <div class="breakdance-rich-text-styles"><p>Unfortunately, we’re unable to offer
                                            free samples. As a retailer, we buy all magazines from their publishers at
                                            the regular trade price. However, you could contact the magazine’s publisher
                                            directly to ask if they can send you a free copy.</p></div>

                                    </div>
                                </div>
                            </div>
                            <div class="bde-faq__item">
                                <h3 class="bde-faq__title-tag">
                                    <button id="bde-faq-117-button-3" aria-expanded="false"
                                            aria-controls="bde-faq-117-3" class="bde-faq__question js-faq-item">
                                        <span class="bde-faq__title">To‘lovni qanday amalga oshiraman?</span>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                                            </svg>
                                        </div>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--active">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </h3>
                                <div role="region" aria-labelledby="bde-faq-117-button-3" id="bde-faq-117-3"
                                     class="bde-faq__answer">
                                    <div class="bde-faq__answer-content">
                                        <div class="breakdance-rich-text-styles"><p>You can create a new account at the
                                            end of the order process or on the following page. You can view all of your
                                            orders and subscriptions in your customer account. You can also change your
                                            addresses and your password.</p></div>

                                    </div>
                                </div>
                            </div>
                            <div class="bde-faq__item">
                                <h3 class="bde-faq__title-tag">
                                    <button id="bde-faq-117-button-4" aria-expanded="false"
                                            aria-controls="bde-faq-117-4" class="bde-faq__question js-faq-item">
                                        <span class="bde-faq__title">Marafonlar bepulmi?</span>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                                            </svg>
                                        </div>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--active">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </h3>
                                <div role="region" aria-labelledby="bde-faq-117-button-4" id="bde-faq-117-4"
                                     class="bde-faq__answer">
                                    <div class="bde-faq__answer-content">
                                        <div class="breakdance-rich-text-styles"><p>No, you don’t have to create an
                                            account. But there are a few advantages if you create an account.</p>
                                            <ul>
                                                <li><p>You never have to enter your billing and shipping address
                                                    again</p></li>
                                                <li><p>Find all of your orders, subscriptions and addresses in your
                                                    account</p></li>
                                                <li><p>Download invoices of your orders</p></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="bde-faq__item">
                                <h3 class="bde-faq__title-tag">
                                    <button id="bde-faq-117-button-5" aria-expanded="false"
                                            aria-controls="bde-faq-117-5" class="bde-faq__question js-faq-item">
                                        <span class="bde-faq__title">Kursni tugatganimdan keyin nima bo‘ladi?</span>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--inactive">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                                            </svg>
                                        </div>
                                        <div aria-hidden="true" class="bde-faq__icon bde-faq__icon--active">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                                <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                </h3>
                                <div role="region" aria-labelledby="bde-faq-117-button-5" id="bde-faq-117-5"
                                     class="bde-faq__answer">
                                    <div class="bde-faq__answer-content">
                                        <div class="breakdance-rich-text-styles"><p>No, we don’t have a physical store
                                            location at the moment. We accept only orders through our online shop and
                                            we’re shipping all orders with the Swiss Post Service. Please visit our
                                            shipping section for more details.</p>
                                            <p>From time to time you will find us at design fairs and popup markets in
                                                Switzerland. Subscribe to our newsletter and you’ll receive the latest
                                                news.</p></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}