{% extends 'base/include.html' %}
{% block body %}
    <div class="tutor-wrap tutor-wrap-parent tutor-dashboard tutor-frontend-dashboard tutor-dashboard-student tutor-pb-80">
        <div class="tutor-container">
            <div class="tutor-row tutor-d-flex tutor-justify-between tutor-frontend-dashboard-header">
                <div class="tutor-header-left-side tutor-dashboard-header tutor-col-md-6 tutor-d-flex tutor-align-center"
                     style="border: none;">
                    <div class="tutor-dashboard-header-avatar">
                        <div class="tutor-avatar tutor-avatar-xl">
                            <div class="tutor-ratio tutor-ratio-1x1"><span class="tutor-avatar-text">VH</span></div>
                        </div>
                    </div>

                    <div class="tutor-user-info tutor-ml-24">
                        <div class="tutor-dashboard-header-display-name tutor-color-black">
                            <div class="tutor-fs-5 tutor-dashboard-header-greetings">
                                Salom,
                            </div>
                            <div class="tutor-fs-4 tutor-fw-medium tutor-dashboard-header-username">
                                Vazira Holboeva
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor-header-right-side tutor-col-md-6 tutor-d-flex tutor-justify-end tutor-mt-20 tutor-mt-md-0">
                    <div class="tutor-d-flex tutor-align-center">
                    </div>
                </div>
            </div>

            <div class="tutor-row tutor-frontend-dashboard-maincontent">
                <div class="tutor-col-12 tutor-col-md-4 tutor-col-lg-3 tutor-dashboard-left-menu">
                    <ul class="tutor-dashboard-permalinks">
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-index ">
                            <a href="https://nutrinora.se/dashboard/"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-dashboard tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Boshqaruv paneli									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-my-profile active">
                            <a href="https://nutrinora.se/dashboard/my-profile"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-user-bold tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Mening profilim									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-enrolled-courses ">
                            <a href="https://nutrinora.se/dashboard/enrolled-courses"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-mortarboard-o tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Ro'yxatdan o'tgan kurslar									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-wishlist ">
                            <a href="https://nutrinora.se/dashboard/wishlist"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-bookmark-bold tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Istaklar roʻyxati									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-my-quiz-attempts ">
                            <a href="https://nutrinora.se/dashboard/my-quiz-attempts"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-quiz-attempt tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Viktorina urinishlarim									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-purchase_history ">
                            <a href="https://nutrinora.se/dashboard/purchase_history"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-cart-bold tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Buyurtma tarixi									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-question-answer ">
                            <a href="https://nutrinora.se/dashboard/question-answer"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-question tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Savol-javob									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-divider"></li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-settings ">
                            <a href="https://nutrinora.se/dashboard/settings"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-gear tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Sozlamalar									</span>
                            </a>
                        </li>
                        <li class="tutor-dashboard-menu-item tutor-dashboard-menu-logout ">
                            <a data-no-instant="" href="https://nutrinora.se/dashboard/logout"
                               class="tutor-dashboard-menu-item-link tutor-fs-6 tutor-color-black">
                                <span class="tutor-icon-signout tutor-dashboard-menu-item-icon"></span> <span
                                    class="tutor-dashboard-menu-item-text tutor-ml-12">
										Chiqish									</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tutor-col-12 tutor-col-md-8 tutor-col-lg-9">
                    <div class="tutor-dashboard-content">

                        <div class="tutor-fs-5 tutor-fw-medium tutor-color-black tutor-mb-24">Mening profilim</div>
                        <div class="tutor-dashboard-content-inner tutor-dashboard-profile-data">
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Roʻyxatdan oʻtgan sana</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">May 10, 2025 6:12 am</span>
                                </div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Ism</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">Vazira</span></div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Familiya</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">Holboeva</span></div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Foydalanuvchi nomi</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">vazira</span></div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Elektron pochta</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">asmoholboyeva@gmail.com</span>
                                </div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Telefon raqami</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">-</span></div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Malaka/kasb</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">-</span></div>
                            </div>
                            <div class="tutor-row tutor-mb-24">
                                <div class="tutor-col-12 tutor-col-sm-5 tutor-col-lg-3">
                                    <span class="tutor-fs-6 tutor-color-secondary">Biografiya</span>
                                </div>
                                <div class="tutor-col-12 tutor-col-sm-7 tutor-col-lg-9">
                                    <span class="tutor-fs-6 tutor-fw-medium tutor-color-black">-</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tutor-dashboard-footer-mobile">
            <div class="tutor-container">
                <div class="tutor-row">
                    <a class="tutor-col-4 " href="https://nutrinora.se/dashboard/">
                        <i class="ttr tutor-icon-dashboard"></i>
                        <span>Boshqaruv paneli</span>
                    </a>
                    <a class="tutor-col-4 " href="https://nutrinora.se/dashboard/my-quiz-attempts/">
                        <i class="ttr tutor-icon-quiz-attempt"></i>
                        <span>Viktorina urinishlari</span>
                    </a>
                    <a class="tutor-col-4 " href="#">
                        <i class="ttr tutor-icon-hamburger-o tutor-dashboard-menu-toggler"></i>
                        <span>Menyu</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}